.product-post{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:999;
    display:flex;
    justify-content: center;
    align-items: center;
}
.product-post-bg{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.801);
    
}
.product-post-content{
    position: relative;
    top: 200px;
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
    background-color: black;
}
.product-post-content-image{
    display:block;
    width:500px;
    height:400px;
    object-position: 50% 50%;
    object-fit: cover;
    max-height: calc(100vh-120px);
    color:white;
   margin-left: auto;
   margin-right: auto;
}